@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.wrapper {
  font-family: "Graphik LCG", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

.container {
  max-width: 1213px;
  margin: 0 auto;
  padding: 0px 25px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: white;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

.hero {
  background-blend-mode: multiply;
  background: url("/img/baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.8000000119;
  background-color: var(--primary, #2A6CEA);
}

.sprite {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo-mane {
  display: block;
  width: 11%;
}

.header__logo-sub {
  display: none;
  width: 11%;
}

.header__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.menu__list .menu__elem {
  position: relative;
  border: 1px solid transparent;
}
.menu__list .menu__elem:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  background-color: white;
  z-index: 99;
}
.menu__list .menu__elem:hover:after, .menu__list .menu__elem:focus:after {
  width: 100%;
}

.menu__arrow {
  display: none;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 233px;
  text-align: center;
}
.top__content {
  max-width: 66%;
}
.top__title {
  font-size: 52px;
  margin-bottom: 18px;
}
.top__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: white;
  margin-bottom: 92px;
}
.top__btn {
  background-color: #ECEFF2;
  color: black;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 40px;
  margin-bottom: 313px;
}

.work {
  margin-top: 80px;
}
.work .work__title {
  text-align: center;
  color: #191C1F;
  margin-bottom: 62px;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}
.work__content .work__img {
  display: block;
  width: 30%;
}
.work__content .work__img .work__svg {
  height: 72px;
}
.work__content .work__wrapp {
  min-width: 272px;
  padding: 0 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.work__content .work__wrapp .work__subtitle {
  line-height: none;
  margin-top: 16px;
  font-size: 16px;
  color: #191C1F;
}

.work__text {
  font-family: "Graphik LCG", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #5E646A;
}

.work__item {
  max-width: 282px;
}

.nextbl {
  margin-top: 80px;
}

.nextbl__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.nextbl__items {
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.nextbl__items .nxtbl__title {
  font-family: "Graphik LCG", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.nextbl__text {
  margin-bottom: 50px;
}
.nextbl__text:last-child {
  margin-bottom: 0;
}

.reviews {
  margin-top: 80px;
  background-color: #F6F8FA;
  height: 564px;
}
.reviews .reviews__title {
  padding-top: 58px;
  text-align: center;
  color: #191C1F;
  margin-bottom: 32px;
}

.reviews__slider {
  position: relative;
}

.reviews__content {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.reviews__item {
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 22px;
  height: 316px;
}

.reviews__ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.reviews__name {
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #191C1F;
}

.reviews__sity {
  font-family: "Graphik LCG", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #5E646A;
}

.swiper-button-prev:after {
  color: #C2C8CD;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px;
}

.swiper-pagination {
  bottom: 0;
}

.footer {
  margin-top: 80px;
  border-top: 1px solid #ECEFF2;
}
.footer .footer__text {
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 28px 0;
}

@media (max-width: 1445px) {
  .work__content {
    row-gap: 32px;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 1082px) {
  .nextbl__items {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    z-index: 9999;
    position: relative;
    width: 22px;
    height: 12px;
    cursor: pointer;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    height: 14%;
    width: 100%;
    background-color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    -webkit-transform: scale(1) translate(0px, 50%);
            transform: scale(1) translate(0px, 50%);
  }
  .header__burger._active.act:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 2px;
    background-color: black;
  }
  .header__burger._active.act:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: black;
    bottom: 8px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu._active {
    left: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 96px 16px 0 16px;
  }
  .menu__item {
    padding-top: 22px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #ECEFF2;
  }
  .menu__item:last-child {
    height: 86px;
    padding: 22px 0px;
    border-bottom: 1px solid #ECEFF2;
  }
  .menu__item a {
    color: #83898F;
    font-size: 18px;
    line-height: 32px;
  }
  .menu__arrow {
    display: block;
  }
  .header__logo-mane {
    width: 20%;
  }
  .header__logo-mane._rem {
    display: none;
  }
  .header__logo-sub._add {
    display: block;
    width: 20%;
    z-index: 10;
  }
  .top__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
  .top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  .top__btn {
    margin-bottom: 398px;
  }
  .work__item {
    max-width: 350px;
  }
  .nextbl__items .nxtbl__title {
    font-size: 20px;
    line-height: 24px;
  }
  .work__text {
    font-size: 16px;
  }
}
@media (max-width: 668px) {
  .nextbl__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nextbl__items {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .header__logo-mane {
    width: 30%;
  }
  .header__logo-sub._add {
    width: 30%;
  }
  .top {
    margin-top: 92px;
  }
  .top__title {
    font-size: 20px;
    line-height: 32px;
  }
  .top__btn {
    padding: 8px 23px;
    margin-bottom: 172px;
  }
  .work .work__title {
    font-size: 24px;
    line-height: 32px;
  }
  .reviews .reviews__title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 320px) {
  .header__logo-mane {
    width: 36%;
  }
  .header__logo-sub._add {
    width: 36%;
  }
  .top__btn {
    font-size: 20px;
    padding: 8px 4px;
  }
}