.footer {
  margin-top: 80px;
  border-top: 1px solid #ECEFF2;

  .footer__text {
    text-align: center;
    font-family: 'Graphik LCG', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 28px 0;
  }
}
